[submodule "FeroxRev"]
	path = FeroxRev
	url = https://github.com/Necrobot-Private/PokemonGo.RocketAPI.git
	branch = master
[submodule "FeroxRev/PokemonGo.RocketAPI"]
	path = FeroxRev/PokemonGo.RocketAPI
	url = https://github.com/Necrobot-Private/PokemonGo.RocketAPI.git
[submodule "POGOProtos/POGOProtos"]
	path = POGOProtos/POGOProtos
	url = https://github.com/Necrobot-Private/POGOProtos.git
