[submodule "FeroxRev"]
	path = FeroxRev
	url = https://github.com/Necrobot-Private/PokemonGo.RocketAPI.git
	branch = master
[submodule "POGOProtos"]
	path = POGOProtos
	url = https://github.com/Necrobot-Private/POGOProtos.git
[submodule "PoGo.NecroBot.GUI.Electron"]
	path = PoGo.NecroBot.GUI.Electron
	url = https://github.com/Necrobot-Private/NecroBot.GUI.Electron.git
[submodule "PokeEase"]
	path = PokeEase
	url = https://github.com/Necrobot-Private/PokeEase.git
[submodule "PokemonGO-Assets-RocketBot"]
	path = RocketBot2/Resources/PokemonGO-Assets
	url = https://github.com/TheUnnamedOrganisation/PokemonGO-Assets.git
	branch = master
[submodule "PokemonGO-Assets"]
	path = PokemonGO-Assets
	url = https://github.com/Necrobot-Private/PokemonGO-Assets.git
