<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PoGo.Necrobot.Window.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PoGo.Necrobot.Window.Properties.Settings>
            <setting name="BrowserToggled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="Scheme" serializeAs="String">
                <value>BaseLight</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>1366</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>768</value>
            </setting>
            <setting name="ConsoleToggled" serializeAs="String">
                <value>False</value>
            </setting>
        </PoGo.Necrobot.Window.Properties.Settings>
    </userSettings>
</configuration>